.btn, .btn.btn-primary {
  color: #c3c861 !important;
  border-radius: 4px;
  font-size: .55rem !important;
  background-color: #225824;
  background-image: linear-gradient(#327967, #1d5042);
  background-repeat: repeat-x;
  border: 1px solid #1d5042;
}

.btn.btn-danger, .red {
  background-color: #580304;
  background-image: linear-gradient(#792028, #580304);
  border: 1px solid #580304;

}

.btn:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #38883b;
  background-image: none;
  text-decoration: none;
}

.btn.disabled, .btn:disabled {
  cursor: auto !important;
  color: #c5c5c5 !important;
  background-color: #5e5e5e;
  background-image: none;
  border: 1px solid #494949 !important;
}

.btn.selected {
  color: #000 !important;
  background-color: #ffed8c;
  background-image: none;
  border: 1px solid #494949 !important;
}

.btn.btn-danger:hover {
  background-color: #d73818;
}