.btn, .btn.btn-primary, .button, .button:focus {
  font-size: 0.675rem;
  background-color: $primary;
  border: 1px solid $green-dark-extra;
}

a.button {
  color: $white !important;
  text-decoration: none !important;
}

.btn.btn-danger, .red {
  background-color: #580304;
  border: 1px solid #580304;
}

.btn:hover, .button:hover {
  background-color: $green;
  text-decoration: none;
}

.btn.disabled, .btn:disabled, .button.disabled, .button:disabled {
  cursor: auto !important;
  color: #c5c5c5 !important;
  background-color: #5e5e5e;
  border: 1px solid #494949 !important;
}

.btn.selected, .button.selected {
  color: #000 !important;
  background-color: #ffed8c;
  border: 1px solid #494949 !important;
}

.btn.btn-danger:hover, .button.red:hover {
  background-color: #d73818;
}