.btn, .btn.btn-primary, .button, .button:focus {
  cursor: pointer;
  color: #c3c861 !important;
  line-height: normal;
  padding: 4px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: verdana;
  font-weight: bold;
  font-size: 10px !important;
  text-decoration: none !important;
  background-color: #225824;
  background-image: -moz-linear-gradient(#327967, #1d5042);
  background-image: -webkit-linear-gradient(#327967, #1d5042);
  background-image: linear-gradient(#327967, #1d5042);
  background-repeat: repeat-x;
  border: 1px solid #1d5042;
  display: inline-block;
}

.btn-delivered, .btn-delivered.btn-primary-delivered, .button-delivered, .button-delivered:focus {
  cursor: pointer;
  line-height: normal;
  padding: 4px 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: verdana;
  font-weight: bold;
  font-size: 10px !important;
  text-decoration: none !important;
  background-color: #45cfd1;
  background-image: -moz-linear-gradient(#45cfd1, #2a8686);
  background-image: -webkit-linear-gradient(#45cfd1, #2a8686);
  background-image: linear-gradient(#45cfd1, #2a8686);
  background-repeat: repeat-x;
  border: 1px solid #1d5042;
  display: inline-block;
}

.btn.btn-danger, .red {
  background-color: #580304;
  background-image: -moz-linear-gradient(#792028, #580304);
  background-image: -webkit-linear-gradient(#792028, #580304);
  background-image: linear-gradient(#792028, #580304);
  border: 1px solid #580304;

}

.btn:hover, .button:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #38883b;
  background-image: none;
  text-decoration: none;
}

.btn.disabled, .btn:disabled, .button.disabled, .button:disabled {
  cursor: auto !important;
  color: #c5c5c5 !important;
  background-color: #5e5e5e;
  background-image: none;
  border: 1px solid #494949 !important;
}

.btn.selected, .button.selected {
  color: #000 !important;
  background-color: #ffed8c;
  background-image: none;
  border: 1px solid #494949 !important;
}

.btn.btn-danger:hover, .button.red:hover {
  background-color: #d73818;
}

.social_btn, .social_btn:focus {
  cursor: pointer;
  line-height: normal;
  padding: 2px 6px;
  margin: 1px;
  text-decoration: none !important;
  display: inline-block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-top: 6px;
}

.social_btn.facebook {
  color: #fff !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-weight: bold !important;
  font-size: 14px !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
  background-color: #4c66a4;
  background-image: -moz-linear-gradient(#4e69a2, #3b5998);
  background-image: -webkit-linear-gradient(#4e69a2, #3b5998);
  background-image: linear-gradient(#4e69a2, #3b5998);
}

.social_btn.facebook.logo {
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 34px;
  background-image: url('../images/style/social/facebook-logo-24x24.png'), -moz-linear-gradient(#4e69a2, #3b5998);
  background-image: url('../images/style/social/facebook-logo-24x24.png'), -webkit-linear-gradient(#4e69a2, #3b5998);
  background-image: url('../images/style/social/facebook-logo-24x24.png'), linear-gradient(#4e69a2, #3b5998);
}

.social_btn.facebook:hover {
  box-shadow: 0px 0px 8px #5474b3;
}

.social_btn.twitter {
  color: #fff !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: #0097c5;
  background-image: -moz-linear-gradient(#00a0d1, #008db8);
  background-image: -webkit-linear-gradient(#00a0d1, #008db8);
  background-image: linear-gradient(#00a0d1, #008db8);
}

.social_btn.twitter.logo {
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 34px;
  background-image: url('../images/style/social/twitter-logo-24x24.png'), -moz-linear-gradient(#00a0d1, #008db8);
  background-image: url('../images/style/social/twitter-logo-24x24.png'), -webkit-linear-gradient(#00a0d1, #008db8);
  background-image: url('../images/style/social/twitter-logo-24x24.png'), linear-gradient(#00a0d1, #008db8);
}

.social_btn.twitter:hover {
  box-shadow: 0px 0px 8px #61bcd8;
}

.social_btn.google {
  color: #fff !important;
  font-family: Roboto, arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: #dd4b39;
}

.social_btn.google.logo {
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 34px;
  background-image: url('../images/style/social/google-logo-24x24.png');
}

.social_btn.google:hover {
  box-shadow: 0px 0px 8px #df4e59;
}

.btn_add_to_cart {
  background: url('../../images/admin/style/btn/btn-add-to-cart2.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 87px;
  float: left;
}

.btn_add_to_cart:hover {
  background-position: 0 -19px;
}

.btn_back_menu {
  background: url('../../images/admin/style/btn/btn-back-to-menu.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 87px;
  float: left;
}

.btn_back_menu:hover {
  background-position: 0 -19px;
}

.btn_cancel {
  background: url('../../images/admin/style/btn/btn-cancel.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_cancel:hover {
  background-position: 0 -19px;
}

.btn_checkout {
  background: url('../../images/admin/style/btn/btn-checkout.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 79px;
  float: left;
}

.btn_checkout_active {
  background-position: 0 -19px;
  cursor: pointer;
}

.btn_checkout_active:hover {
  background-position: 0 -38px;
}

.btn_checkout_guest {
  background: url('../../images/admin/style/btn/btn-checkout-guest.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 78px;
  margin: 0;
  padding: 0;
  width: 78px;
  float: left;
}

.btn_checkout_guest:hover {
  background-position: 0 -78px;
}

.btn_get_started {
  background: url('../../images/admin/style/btn/btn-get-started.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 79px;
  float: left;
}

.btn_get_started:hover {
  background-position: 0 -24px;
}

.btn_gift_card_checkout {
  background: url('../../images/admin/style/btn/btn-gc-checkout.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 135px;
  float: left;
}

.btn_gift_card_checkout:hover {
  background-position: 0 -19px;
}

.btn_invite_friends {
  background: url('../../images/admin/style/btn/btn-invite-friends.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 115px;
  float: left;
}

.btn_invite_friends:hover {
  background-position: 0 -19px;
}

.btn_login {
  background: url('../../images/admin/style/btn/btn-login.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_login:hover {
  background-position: 0 -19px;
}

.btn_modify_invitation {
  background: url('../../images/admin/style/btn/btn-modify-invitation.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 135px;
  float: left;
}

.btn_modify_invitation:hover {
  background-position: 0 -19px;
}

.btn_preview_send_invitation {
  background: url('../../images/admin/style/btn/btn-preview-send-invitation.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 190px;
  float: left;
}

.btn_preview_send_invitation:hover {
  background-position: 0 -19px;
}

.btn_print_order {
  background: url('../../images/admin/style/btn/btn-print.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_print_order:hover {
  background-position: 0 -19px;
}

.btn_reschedule {
  background: url('../../images/admin/style/btn/btn-reschedule.png') no-repeat scroll 0 0 transparent;
  border: 0;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 80px;
  float: left;
}

.btn_reschedule_active {
  background-position: 0 -19px;
  cursor: pointer;
}

.btn_reschedule_active:hover {
  background-position: 0 -38px;
}

.btn_save {
  background: url('../../images/admin/style/btn/btn-save.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_save:hover {
  background-position: 0 -19px;
}

.btn_save_changes {
  background: url('../../images/admin/style/btn/btn-save-changes.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 90px;
  float: left;
}

.btn_save_changes:hover {
  background-position: 0 -19px;
}

.btn_send_invitation {
  background: url('../../images/admin/style/btn/btn-send-invitation.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 135px;
  float: left;
}

.btn_send_invitation:hover {
  background-position: 0 -19px;
}

.btn_send_invites {
  background: url('../../images/admin/style/btn/btn-send-invites.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 90px;
  float: left;
}

.btn_send_invites:hover {
  background-position: 0 -19px;
}

.btn_send_password {
  background: url('../../images/admin/style/btn/btn-send-password.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 135px;
  float: left;
}

.btn_send_password:hover {
  background-position: 0 -19px;
}

.btn_start_new_order {
  background: url('../../images/admin/style/btn/btn-start-new-order.png') no-repeat !important;
  border: 0;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 121px;
  float: left;
}

.btn_start_new_order:hover {
  background-position: 0 -19px !important;
}

.btn_submit {
  background: url('../../images/admin/style/btn/btn-submit.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 18px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_submit:hover {
  background-position: 0 -18px;
}

.btn_submit2_inactive {
  background: url('../../images/admin/style/btn/btn-submit2.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_submit2 {
  background: url('../../images/admin/style/btn/btn-submit2.png') no-repeat scroll 0 0 transparent;
  background-position: 0 -19px;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 67px;
  float: left;
}

.btn_submit2:hover {
  background-position: 0 -38px;
}

.btn_submit2_active {
  background-position: 0 -19px;
  cursor: pointer;
}

.btn_submit2_active:hover {
  background-position: 0 -38px;
}


.btn_start_ordering {
  background: url('../../images/admin/style/btn/btn-start-ordering.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 24px;
  margin: 0;
  padding: 0;
  width: 121px;
  float: left;
}

.btn_start_ordering:hover {
  background-position: 0 -24px;
}


.btn_start_intro_ordering {
  background: url('../../images/admin/style/btn/btn-start-intro-ordering.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 121px;
  float: left;
}

.btn_start_intro_ordering:hover {
  background-position: 0 -19px;
}

.btn_get_started {
  background: url('../../images/admin/style/btn/btn-get-started.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 79px;
  float: left;
}

.btn_get_started:hover {
  background-position: 0 -19px;
}

.btn_learn_more {
  background: url('../../images/admin/style/btn/btn-learn-more.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 79px;
  float: left;
}

.btn_learn_more:hover {
  background-position: 0 -19px;
}

.btn_back_to_locations {
  background: url('../../images/admin/style/btn/btn-back-to-locations.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 121px;
  float: left;
}

.btn_back_to_locations:hover {
  background-position: 0 -19px;
}

.btn_standard_menu {
  background: url('../../images/admin/style/btn/btn-standard-menu.png') no-repeat scroll 0 0 transparent;
  border: 0 none;
  cursor: pointer;
  height: 19px;
  margin: 0;
  padding: 0;
  width: 133px;
  float: left;
}

.btn_standard_menu:hover {
  background-position: 0 -19px;
}

.btn_mainnav01 {
  background: url('../../images/admin/style/mainnav/mainnav01.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 27px;
  margin: 0;
  padding: 0;
  width: 144px;
  float: left;
}

.btn_mainnav01:hover {
  background-position: 0 -27px;
}

.btn_mainnav02 {
  background: url('../../images/admin/style/mainnav/mainnav02.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 27px;
  margin: 0;
  padding: 0;
  width: 163px;
  float: left;
}

.btn_mainnav02:hover {
  background-position: 0 -27px;
}

.btn_mainnav03 {
  background: url('../../images/admin/style/mainnav/mainnav03.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 27px;
  margin: 0;
  padding: 0;
  width: 142px;
  float: left;
}

.btn_mainnav03:hover {
  background-position: 0 -27px;
}

.btn_mainnav04 {
  background: url('../../images/admin/style/mainnav/mainnav04.png') no-repeat scroll 0 0 transparent;
  border: 0;
  cursor: pointer;
  height: 27px;
  margin: 0;
  padding: 0;
  width: 117px;
  float: left;
}

.btn_mainnav04:hover {
  background-position: 0 -27px;
}