.border-width-0 {
  border-width: 0;
}

.border-width-1 {
  border-width: .1rem;
}

.border-width-1-imp {
  border-width: .1rem !important;
}

.border-width-2 {
  border-width: .2rem;
}

.border-width-2-imp {
  border-width: .2rem !important;
}

.border-width-3 {
  border-width: .3rem;
}

.border-width-3-5 {
  border-width: .35rem;
}

.border-width-3-imp {
  border-width: .3rem !important;
}

.border-width-3-5-imp {
  border-width: .35rem !important;
}

.border-width-4 {
  border-width: .4rem;
}

.border-width-4-imp {
  border-width: .4rem !important;
}

.border-top-style-dotted {
  border-top-style: dotted !important;
}