.text-decoration-none {
  text-decoration: none;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-hover-none:hover {
  text-decoration: none;
}

.text-decoration-hover-underline:hover {
  text-decoration: underline;
}

.text-white-space-wrap {
  white-space: initial;
}

.text-white-space-nowrap {
  white-space: nowrap;
}

.text-transform-inherit {
  text-transform: inherit;
}

.text-color-session-type-fundraiser {
  @extend .text-orange;
}

.text-color-session-type-open_house {
  @extend .text-cyan;
}

.text-color-session-type-open_house_holiday {
  @extend .text-cyan;
}

.text-color-session-type-private_party, .text-color-session-type-remote_pickup_private {
  @extend .text-green-dark;
}

.text-color-session-type-dream_taste {
  @extend .text-green-light;
}

.text-color-session-type-friends_night_out {
  @extend .text-gray-dark;
}