
.space_right_delimited
{
	border-collapse: collapse;
	border-right:2px solid black;
	border-bottom:2px solid black;
	font-weight:bold;
	color:#225824;
	background-color: #a8b355;
	height:24px;
	margin:0px;
	padding:0px;
	text-align:center;
	vertical-align:bottom;
}

.space_right_open
{
	border-collapse: collapse;
	border-bottom:2px solid black;
	color:#225824;
	background-color: #a8b355;
	height:24px;
	margin:0px;
	padding:0px;
	font-weight:bold;

}

.space_section_head
{
border-collapse: collapse;
	font-size:14pt;
	font-weight:bold;
	color:#225824;
	background-color: #a8b355;
	height:24px;
	margin:0px;
	padding:0px;

}


.label_delimited
{
	border-collapse: collapse;
	border-right:2px solid black;
	border-bottom:2px solid black;

	height:24px;
	margin:0px;
	padding:0px;
	padding-right:5px;
	font-weight:bold;
}

.value_delimited
{
	border-collapse: collapse;
	border-right:2px solid black;
	border-bottom:2px solid black;
	height:24px;
	margin:0px;
	padding:0px;

}

.value_delimited_top30
{
	border-collapse: collapse;
	border-right:1px solid black;
	border-bottom:1px solid black;
	height:24px;
	margin:0px;
	padding-left:4px;
	padding:2px;

}

.space_right_delimited_top30
{
	border-collapse: collapse;
	border-right:1px solid black;
	border-bottom:1px solid black;
	font-weight:bold;
	color:#225824;
	background-color: #c8d375;
	height:24px;
	margin:0px;
	padding:0px;
}

.top30resultsBG
{
	background-color: #f0f0f0;
}

.disc_closed
{
	width:16px;
	height:16px;
	background:url(../../images/icon/disc_triangle_closed.png);	
	float:left;
}

.disc_open
{
	width:16px;
	height:16px;
	background:url(../../images/icon/disc_triangle_open.png);	
	float:left;
}

.page {
	width:1024px;
}
