#video_list {
	width: 302px;
	float: right;
	height: 410px;
	overflow: auto !important;
	background-color: #E5E0D8;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);	
	}
	
#video_description {
	padding:10px;
	width: 282px;
	float: right;
	height: 100px;
	overflow: auto !important;
	background-color: #F1E8D8;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	display: none;
	}
	
#description {
	padding-bottom:10px;
	}	
	
#video_list ul {
	margin: 0px;
	}
	
#video_list li {
	color: #225824;
	cursor: pointer;
	margin-left: -40px;
	padding: 6px 0 6px 4px;
	list-style: none;
	border-bottom: 1px solid #CECECE;
	}	
	
#video_list li:hover {
	text-decoration: underline;
	background-color: #F1E8D8;
	}
	
	#video_list .section {
		color: #C3C861;
		cursor: auto;
		font-weight: bold;
		background-color: #225824;
		}
		
		#video_list .section:hover {
			text-decoration: none;
			background-color: #225824;
		}	

.selected_media {
	background-color: #F1E8D8 !important;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);	
	}
	
.title {
	float: left;
	width: 197px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	}
	
.ui-tooltip-content {
	line-height: 1.25em;
	}	
	
.ui-tooltip-content hr {
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 2px solid #858D30;
    margin: 6px 0; 
    padding: 0;
	}
	
.date {
	float: right;
	text-align: right;
	padding-right: 4px;
	font-size: 0.75em;	
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	}	
	
.media_container {
	padding: 10px !important;
	background-color: #F1E8D8 !important;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
	padding: 16px 0;
	width: 640px;
	height: 390px;
	float: left;
	}	