#orders_history {
	width: 100%;
	}
#orders_history th {
	padding: 6px;
	color: #225824;
	background-color: #A8B355;
	}
#orders_history tr td:nth-child(n+3) {
	text-align: right;
	}
#orders_history tr:nth-child(even) {
	background: #F1E8D8;
	}
#orders_history tr:nth-child(odd) {
	background: #FFF5E2;
	}