.tabs-container li.tab.inactive {
	background-color: #b7b793;
	}

.tabs-container li.tab.inactive:hover {
	background-color: #bcbf98;
	}

.tabs-container li.tab.selected.inactive {
	background-color: #bcbf98;
	border-bottom: 2px solid #bcbf98;
	}

/* tab content */
.tabs-content .content.inactive {
	border: 4px solid #bcbf98;
	}

#related_orders_tab_li {
	float: right;
	}

.balance_msg_customer_owed {
	color: red;
	font-weight: bold;
	}

.balance_msg_store_owed {
	color: red;
	font-weight: bold;
	}

.balance_msg_balanced {
	color: blue;
	font-weight: normal;
	}

.unsaved_data {
	background-color: #fff8f8;
	}

.unsaved_data_cb {
	border: #ff5050 1px solid;
	}

.unsaved_data_on_tab {
	color: #f00;
	text-decoration: underline;
	}

#Todd_header {
	color: purple;
	text-align: center;
	font-size: 24px;
	margin-top: 10px;
	line-height: 27px;
	}

#cancel_div {
	display: none;
	}

#guest_details {
	display: none;
	position: absolute;
	background-color: #e0e0e0;
	border: 2px green solid;
	}

#payment_help_msg {
	color: red;
	float: right;
	font-size: 12px;
	}
	#payment_help_msg.overpaid {
		color: blue;
		}

#help_msg {
	display: none;
	color:red;
	}

#update_console {
	border: green 1px solid;
	margin-bottom: 6px;
	margin-top: 6px;
	padding: 4px;
	background-color: #efefef;
	vertical-align: center;
	}

#paypal-result {
	display: none;
	}

#changeListTab {

	cursor: pointer;

	width: 130px;
	height: 36px;

	padding-left: 12px;
	padding-top: 6px;

	position: fixed;

	transform-origin: 0 0 0;
	transform: rotate(-90deg);

	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;

	-ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin: 0% 0%; /* IE 9 */


	-moz-transform: rotate(-90deg);
	-moz-transform-origin: 0 0;

	-o-transform: rotate(-90deg);
	-o-transform-origin: 0 0;

	top: 300px;
	left: -1px;
	color: #2b6a5a;
	font-size: 14pt;
	background-color: #ded6cb;
	border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;

	}

#changeListTab.unsaved_data_list {
	color: #f00;
	text-decoration: underline;
	border: #ff5050 1px solid;
	}

#changeListTab:hover {
	background-color: #f4ece1;
	}

.fixedDialog {
	position: fixed;
	}

.button_block_ovrerride {
	display: block;
	}

#saveOrderSpan, #finalizeOrderSpan, #addPaymentAndActivate {
	display: none;
	color: red;
	font-size: 14pt;
	font-weight: bold;
	line-height: 15pt;
	height: 26px;
	vertical-align: center;
	float: left;
	}

.order_state_title {
	color: #008000;
	font-size: 18pt;
	font-weight: bold;
	}

.cancelled {
		color: #800000;
}

.show_compare_td {
	display: block;
	}

#orders_history {
	width: 100%;
	}

#orders_history th {
	padding: 6px;
	color: #225824;
	background-color: #a8b355;
	}

#orders_history tr td:nth-child(n+3) {
	text-align: right;
	}

#orders_history tr:nth-child(even) {
	background: #f1e8d8;
	}

#orders_history tr:nth-child(odd) {
	background: #fff5e2;
	}

#finalize_changes_div {
	font-size: 10pt;
	line-height: 15pt;
	font-weight: bold;
	}

#om_instructions {
	vertical-align: center;
	padding-left: 8px;
	font-weight: bold;
	}

.om_disabled {
	background-color: #dddddd;
	color: #808080;
	background-image: none;


}

 .accordion:first-of-type {
	 border-top: 1px solid #808080;
	 }
.accordion {
	background-color: #2db5b7;
	font-family: verdana;
	font-weight: normal;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
	transition: 0.4s;
	}
.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #000;
	float: right;
	margin-left: 5px;
	}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	/* background-color: #9edadb; */
	}

.accordion.active:after {
	content: "\2212";
	font-size: 18px;
	}

.accordionTitle{
	display: inline;
	color: black;
	}


/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 5px 18px;
	background-color: #ded6cb;
	display: none;
	overflow: hidden;
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
	}