#
# .htaccess for dreamdinners.com
#
# R=301 - Redirect url
# NC - Case insensitive
# QSA - Pass query string along to redirect
#

# compress text, html, javascript, css, xml:
<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE application/rss+xml
        AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
        AddOutputFilterByType DEFLATE application/x-font
        AddOutputFilterByType DEFLATE application/x-font-opentype
        AddOutputFilterByType DEFLATE application/x-font-otf
        AddOutputFilterByType DEFLATE application/x-font-truetype
        AddOutputFilterByType DEFLATE application/x-font-ttf
        AddOutputFilterByType DEFLATE application/x-javascript
        AddOutputFilterByType DEFLATE application/xhtml+xml
        AddOutputFilterByType DEFLATE application/xml
        AddOutputFilterByType DEFLATE font/opentype
        AddOutputFilterByType DEFLATE font/otf
        AddOutputFilterByType DEFLATE font/ttf
        AddOutputFilterByType DEFLATE image/svg+xml
        AddOutputFilterByType DEFLATE image/x-icon
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE text/javascript
        AddOutputFilterByType DEFLATE text/plain
        AddOutputFilterByType DEFLATE text/xml

        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    </IfModule>
</IfModule>

<filesMatch ".(css|js|jpg|jpeg|png|gif|ico|svg|ttf|eot|woff|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# Handle cache control on CSS, JS, Fonts and Image
<IfModule mod_expires.c>
  ExpiresActive on

  #css
  ExpiresByType text/css "access plus 1 year"

  #javascript
  ExpiresByType application/x-javascript "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  #fonts
  ExpiresByType application/x-font-ttf "access plus 1 year"
  ExpiresByType application/font-sfnt "access plus 1 year"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"

  #images
  ExpiresByType image/jpg "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
</IfModule>

# Enable ETags
FileETag All

# Allow 10MB
php_value upload_max_filesize 10M
php_value post_max_size 40M

DirectoryIndex main.php

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]

# Drop www code borrowed from Drupal 7

# Set "protossl" to "s" if we were accessed via https://.  This is used later
# if you enable "www." stripping or enforcement, in order to ensure that
# you don't bounce between http and https.
RewriteRule ^ - [E=protossl]
RewriteCond %{HTTPS} on
RewriteRule ^ - [E=protossl:s]

# To redirect all users to access the site WITHOUT the 'www.' prefix,
# (http://www.example.com/... will be redirected to http://example.com/...)
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

# Exchange redirect
RewriteRule ^autodiscover/(.*)$ https://mail.dreamdinners.com/autodiscover/$1 [R=301,NC,QSA]

# Authenticate MS Graph
RewriteRule ^authms_my_events/?$ /my-events [R=301,NC,QSA]

# Dream Dinnera redirects
RewriteRule ^msl/?$ / [R=301,NC,QSA]
RewriteRule ^offers/?$ / [R=301,NC,QSA]
RewriteRule ^mealprep\+/?$ /meal-prep-plus [R=301,NC,QSA]
RewriteRule ^mealprep/?$ /meal-prep-plus [R=301,NC,QSA]
RewriteRule ^mealprepplus/?$ /meal-prep-plus [R=301,NC,QSA]
RewriteRule ^franchise/?$ /franchise-info [R=301,NC,QSA]
RewriteRule ^giftcards/?$ /giftcards [R=301,NC,QSA]
RewriteRule ^giftcardwelcome/?$ /giftcards [R=301,NC,QSA]
RewriteRule ^myreviews/?$ /my-meals [R=301,NC,QSA]
RewriteRule ^testimonials/?$ /shared-stories [R=301,NC,QSA]
RewriteRule ^testrecipe/?$ /survey-landing [R=301,NC,QSA]
RewriteRule ^testrecipes/?$ /survey-landing [R=301,NC,QSA]
RewriteRule ^mysurveys/?$ /my-surveys [R=301,NC,QSA]
RewriteRule ^mymeals/?$ /my-meals [R=301,NC,QSA]
RewriteRule ^shareyourstory/?$ /share-your-story [R=301,NC,QSA]
RewriteRule ^virtual/?$ /national-virtual-party [R=301,NC,QSA]
RewriteRule ^policies/?$ /privacy [R=301,NC,QSA]
RewriteRule ^colorado/?$ /colorado-meal-kit [R=301,NC,QSA]
RewriteRule ^freezer/?$ /sides-and-sweets-order-form?utm_source=stores-salesforce&utm_medium=emails-sms&utm_campaign=sides-sweets-order-form [R=301,NC,QSA]

# Optioanl trailing "S" redirects
RewriteRule ^location/?$ /locations [R=301,NC,QSA]
RewriteRule ^stores?/?$ /locations [R=301,NC,QSA]
RewriteRule ^holiday/?$ /holidays [R=301,NC,QSA]
RewriteRule ^gifts/?$ /gift [R=301,NC,QSA]
RewriteRule ^fundraisercards?/?$ /fundraiser-card-program [R=301,NC,QSA]

# Offsite redirects
RewriteRule ^30daysofdinner/?$ https://cloud.em-dreamdinners.com/30daysofdinner2020 [R=301,NC,QSA]
RewriteRule ^unboxedsurvey/?$ https://www.surveymonkey.com/r/unboxedq1 [R=301,NC,QSA]

# Store redirects
RewriteRule ^ga400hwy20GA/?$ /CummingGA [R=301,NC,QSA]
RewriteRule ^CloverlyStreetMD/?$ /SilverSpringMD [R=301,NC,QSA]
RewriteRule ^AugustaBusCtrGA/?$ / [R=301,NC,QSA]
RewriteRule ^belmontave/?$ /chicago [R=301,NC,QSA]
RewriteRule ^belmontaveIL/?$ /chicago [R=301,NC,QSA]
RewriteRule ^grandca/?$ /SanMarcosCA [R=301,NC,QSA]
RewriteRule ^MarVistaCA/?$ /WestLosAngelesCA [R=301,NC,QSA]
RewriteRule ^ManMarMA/?$ /PlainvilleMA [R=301,NC,QSA]
RewriteRule ^victoriavillageCA/?$ /VenturaCA [R=301,NC,QSA]
RewriteRule ^PinecrestPkwyFL/?$ /PinecrestFL [R=301,NC,QSA]
RewriteRule ^briargateCO/?$ /NorthColoradoSpringsCO [R=301,NC,QSA]
RewriteRule ^TruxelStationCA/?$ /SacramentoNatomasCA [R=301,NC,QSA]
RewriteRule ^TriCityCenterCA/?$ /RedlandsCA [R=301,NC,QSA]
RewriteRule ^OrangeGroveAZ/?$ /TucsonAZ [R=301,NC,QSA]
RewriteRule ^AndersonTowneCtrOH/?$ /Cincinnati-AndersonOH [R=301,NC,QSA]
RewriteRule ^PeabodyplazaCA/?$ /VacavilleCA [R=301,NC,QSA]
RewriteRule ^EltorotrabucoCA/?$ /LakeForestCA [R=301,NC,QSA]
RewriteRule ^JacksonDriveCA/?$ /LaMesaCA [R=301,NC,QSA]
RewriteRule ^CrescentavalleyCA/?$ /LaCrescentaCA [R=301,NC,QSA]
RewriteRule ^KnollwoodplazaCA/?$ /GranadaHillsCA [R=301,NC,QSA]
RewriteRule ^Shea101AZ/?$ /ScottsdaleAZ [R=301,NC,QSA]
RewriteRule ^RayroadAZ/?$ /PhoenixAhwatukeeAZ [R=301,NC,QSA]
RewriteRule ^7thstplazaAZ/?$ /NorthPhoenixAZ [R=301,NC,QSA]
RewriteRule ^PinebrookAL/?$ /MobileAL [R=301,NC,QSA]
RewriteRule ^BucklandCT/?$ /ManchesterCT [R=301,NC,QSA]
RewriteRule ^ManselloaksGA/?$ /RoswellGA [R=301,NC,QSA]
RewriteRule ^NobscotPlazaMA/?$ /FraminghamMA [R=301,NC,QSA]
RewriteRule ^crosspointectrOH/?$ /CentervilleOH [R=301,NC,QSA]
RewriteRule ^OldChocolateBayouTX/?$ /PearlandTX [R=301,NC,QSA]
RewriteRule ^sevenmileroadMI/?$ /LivoniaMI [R=301,NC,QSA]
RewriteRule ^TylersvilleCoxOH/?$ /WestChesterOH [R=301,NC,QSA]
RewriteRule ^Tylersville_CoxOH/?$ /WestChesterOH [R=301,NC,QSA]
RewriteRule ^kiplingi70CO/?$ /WheatRidgeCO [R=301,NC,QSA]
RewriteRule ^WoodlakeCommonsVA/?$ /MidlothianVA [R=301,NC,QSA]
RewriteRule ^620northTX/?$ /NorthWestAustinTX [R=301,NC,QSA]
RewriteRule ^RiverstonePlaceTX/?$ /MissouriCityTX [R=301,NC,QSA]
RewriteRule ^m59crooksroadMI/?$ /RochesterHillsMI [R=301,NC,QSA]
RewriteRule ^ClearViewDrNV/?$ /CarsonCityNV [R=301,NC,QSA]
RewriteRule ^GraniteRunPA/?$ /LancasterPA [R=301,NC,QSA]
RewriteRule ^Circle9Or/?$ /CorvallisOR [R=301,NC,QSA]
RewriteRule ^119metcalfks/?$ /OverlandParkKS [R=301,NC,QSA]
RewriteRule ^NathanielPlazaMA/?$ /locations [R=301,NC,QSA]
RewriteRule ^AugustaBusCtrGA/?$ /locations [R=301,NC,QSA]
RewriteRule ^tricitycenter/?$ /locations [R=301,NC,QSA]
RewriteRule ^clearview/?$ /locations [R=301,NC,QSA]
RewriteRule ^cloverlyst/?$ /locations [R=301,NC,QSA]
RewriteRule ^anderson/?$ /locations [R=301,NC,QSA]
RewriteRule ^cloverlystreet/?$ /locations [R=301,NC,QSA]
RewriteRule ^ga400/?$ /CummingGA [R=301,NC,QSA]
RewriteRule ^SawgrassFL/?$ /SunriseFL [R=301,NC,QSA]
RewriteRule ^Sawgrass/?$ /SunriseFL [R=301,NC,QSA]
RewriteRule ^26CrossingIN/?$ /LafayetteIN [R=301,NC,QSA]
RewriteRule ^LaffayetteIN/?$ /LafayetteIN [R=301,NC,QSA]
RewriteRule ^TurningPointMD/?$ /FrederickMD [R=301,NC,QSA]
RewriteRule ^TurningPoint/?$ /FrederickMD [R=301,NC,QSA]
RewriteRule ^IndependencemrktplMI/?$ /AllenParkMI [R=301,NC,QSA]
RewriteRule ^309advancelNPA/?$ /ColmarPA [R=301,NC,QSA]
RewriteRule ^goshenvillagePA/?$ /WestChesterPA [R=301,NC,QSA]
RewriteRule ^davis_precinctlineTX/?$ /NorthRichlandHillsTX [R=301,NC,QSA]
RewriteRule ^ClocktowerWA/?$ /MillCreekWA [R=301,NC,QSA]
RewriteRule ^800northUT/?$ /OremUT [R=301,NC,QSA]
RewriteRule ^800north/?$ /OremUT [R=301,NC,QSA]
RewriteRule ^yosemite_drycreekCO/?$ /CentennialCO [R=301,NC,QSA]
RewriteRule ^TowneCentreNJ/?$ /FlemingtonNJ [R=301,NC,QSA]
RewriteRule ^79southCA/?$ /TemeculaCA [R=301,NC,QSA]
RewriteRule ^79south/?$ /TemeculaCA [R=301,NC,QSA]
RewriteRule ^SebbinsBrookNH/?$ /BedfordNH [R=301,NC,QSA]
RewriteRule ^chicago_damenIL/?$ /Chicago-WestTownIL [R=301,NC,QSA]
RewriteRule ^ColonnadeCtrWA/?$ /KennewickWA [R=301,NC,QSA]
RewriteRule ^hazeldellWA/?$ /VancouverWA [R=301,NC,QSA]
RewriteRule ^hazeldell/?$ /VancouverWA [R=301,NC,QSA]
RewriteRule ^Brickyardplazaut/?$ /SaltLakeUT [R=301,NC,QSA]
RewriteRule ^Brickyardplaza/?$ /SaltLakeUT [R=301,NC,QSA]
RewriteRule ^Marvistaca/?$ /westlosangelesca [R=301,NC,QSA]
RewriteRule ^BelmontPlazaCA/?$ /BelmontCA [R=301,NC,QSA]
RewriteRule ^WarnerAveCA/?$ /FountainValleyCA [R=301,NC,QSA]
RewriteRule ^WarnerAve/?$ /FountainValleyCA [R=301,NC,QSA]
RewriteRule ^DaleRoadCA/?$ /ModestoCa [R=301,NC,QSA]
RewriteRule ^EastColoradoCA/?$ /PasadenaCA [R=301,NC,QSA]
RewriteRule ^EastColorado/?$ /PasadenaCA [R=301,NC,QSA]
RewriteRule ^BuenaventuraCA/?$ /ReddingCA [R=301,NC,QSA]
RewriteRule ^LincolnoaksCA/?$ /ThousandOaksCA [R=301,NC,QSA]
RewriteRule ^Lincolnoaks/?$ /ThousandOaksCA [R=301,NC,QSA]
RewriteRule ^SouthwoodvillageCA/?$ /TorranceCA [R=301,NC,QSA]
RewriteRule ^i74_HarrisonAveOH/?$ /Cincinnati-WestOH [R=301,NC,QSA]
RewriteRule ^kenwoodroadOH/?$ /BlueAshOH [R=301,NC,QSA]
RewriteRule ^I77_hwy160sc/?$ /FortMillSC [R=301,NC,QSA]
RewriteRule ^tustinfrenchqtrca/?$ /TustinCA [R=301,NC,QSA]
RewriteRule ^VasonaStationCA/?$ /LosGatosCA [R=301,NC,QSA]
RewriteRule ^VasonaStation/?$ /LosGatosCA [R=301,NC,QSA]
RewriteRule ^ParkerPlazaCO/?$ /ParkerCO [R=301,NC,QSA]
RewriteRule ^WestBoylstonstMA/?$ /WestBoylstonMA [R=301,NC,QSA]
RewriteRule ^MurphyParkWayOH/?$ /PowellOH [R=301,NC,QSA]
RewriteRule ^MurphyPar/?$ /PowellOH [R=301,NC,QSA]
RewriteRule ^cherriparksqOH/?$ /WestervilleOH [R=301,NC,QSA]
RewriteRule ^nwcornellor/?$ /BeavertonOR [R=301,NC,QSA]
RewriteRule ^swbybergor/?$ /TualatinOR [R=301,NC,QSA]
RewriteRule ^swnybergor/?$ /TualatinOR [R=301,NC,QSA]
RewriteRule ^AlaskaJunctionWA/?$ /WestSeattleWA [R=301,NC,QSA]
RewriteRule ^AlaskaJunction/?$ /WestSeattleWA [R=301,NC,QSA]
RewriteRule ^RoseCenterCA/?$ /BeniciaCA [R=301,NC,QSA]
RewriteRule ^sunnybrookor/?$ /ClackamasOR [R=301,NC,QSA]
RewriteRule ^berlinturnpikect/?$ /BerlinCT [R=301,NC,QSA]
RewriteRule ^solanacenterca/?$ /DelMar-SolanaBeachCA [R=301,NC,QSA]
RewriteRule ^solanacenter/?$ /DelMar-SolanaBeachCA [R=301,NC,QSA]
RewriteRule ^SolanaBeachCA/?$ /DelMar-SolanaBeachCA [R=301,NC,QSA]
RewriteRule ^carlsbadforumca/?$ /Carlsbad-EncinitasCA [R=301,NC,QSA]
RewriteRule ^encinitas/?$ /carlsbad-encinitas [R=301,NC,QSA]
RewriteRule ^96streetIN/?$ /locations [R=301,NC,QSA]
RewriteRule ^96street/?$ /locations [R=301,NC,QSA]
RewriteRule ^libertystationmd/?$ /locations [R=301,NC,QSA]
RewriteRule ^chicago.com/?$ /locations [R=301,NC,QSA]
RewriteRule ^alask/?$ /locations [R=301,NC,QSA]
RewriteRule ^96streetIN/?$ /locations [R=301,NC,QSA]
RewriteRule ^playbook/?$ /media/Dream-Dinners-Playbook.pdf [R=301,NC,QSA]
RewriteRule ^NRH/?$ /northrichlandhills [R=301,NC,QSA]

# handle script/css cache defeat
RewriteRule ^theme/(.+)/(scripts|css)/[0-9]+/admin/(.+)$ /theme/$1/$2/admin/$3 [L]
RewriteRule ^theme/(.+)/(scripts|css)/[0-9]+/(.+)$ /theme/$1/$2/$3 [L]
# handle images referenced in css with cache defeat path
RewriteRule ^theme/(.+)/css/images/(.+)$ /theme/$1/images/$2 [L]

# handle default browse_menu promo images
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/browse_menu/[a-z]+/(.*)?$ /theme/dreamdinners/images/browse_menu/default/$1 [L,E=STATUS:404]

# handle missing store images, redirect to default image
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/stores/([0-9]+).(jpg|webp|png)?$ /theme/dreamdinners/images/stores/default.$2 [L,E=STATUS:404]

# handle missing store bio images, redirect to default image
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/stores/bio/portrait-([0-9]+)-([0-9]+).(jpg|webp|png)?$ /theme/dreamdinners/images/stores/bio/portrait-default-$2.$3 [L,E=STATUS:404]

# handle missing store bio team images, redirect to default image
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/stores/bio/portrait-([0-9]+)-team.(jpg|webp|png)?$ /theme/dreamdinners/images/stores/$1.$2 [L,E=STATUS:404]

# handle missing recipe images, redirect to default image
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/recipe/default/([0-9]+).(jpg|webp|png)?$ /theme/dreamdinners/images/recipe/default/0.$2 [L,E=STATUS:404]

## REDIRECT FROM OLD IMAGE PATH TO NEW RESPONSIVE SITE
# handle missing recipe images, redirect to default image
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/english/dreamdinners/images/recipe/default/(.*)/([0-9_]+)_(.*).(jpg|webp|png)?$ /theme/dreamdinners/images/recipe/default/$2.$3 [L,E=STATUS:404]

# handle default my account promo image
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/my_account/monthly/([a-z]+)/(.*)?$ /theme/dreamdinners/images/my_account/monthly/default/$2 [L,E=STATUS:404]

# handle default taste event images
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/event_theme/(dream_taste|fundraiser|standard)/(.*)/(.*)/([0-9_]+)/(.*)?$ /theme/dreamdinners/images/event_theme/$1/$2/$3/default/$5 [L,E=STATUS:404]

# handle default invite a friend email images
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/email/event_theme/(dream_taste|fundraiser|standard)/(.*)/(.*)/([0-9_]+)/(.*)?$ /theme/dreamdinners/images/email/event_theme/$1/$2/$3/default/$5 [R=301,L]

# handle master default invite a friend email images
# first two lines prevent infinite loop in the case the default image is not there
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^theme/dreamdinners/images/email/event_theme/(dream_taste|fundraiser|standard)/(.*)/(.*)/default/(.*)?$ /theme/dreamdinners/images/email/event_theme/default/$4 [L,E=STATUS:404]

## Redirect variable
RewriteRule ^ref/(.*)$ /session?oid=$1 [R=301,NC,QSA]
RewriteRule ^ref2/(.*)$ /session?sid=$1 [R=301,NC,QSA]
RewriteRule ^pp/(.*)$ /session?sid=$1 [R=301,NC,QSA]
RewriteRule ^taste/(.*)$ /session?sid=$1 [R=301,NC,QSA]
RewriteRule ^event/(.*)$ /session?sid=$1 [R=301,NC,QSA]
RewriteRule ^fundraiser/(.*)$ /session?sid=$1 [R=301,NC,QSA]

## Sharing links Responsive
RewriteRule ^starter/([0-9]*)$ /session?sid=$1&starter_pack=true [R=301,NE,NC,QSA]
RewriteRule ^session/([0-9]*)-([0-9]*)$ /session?sid=$1&jid=$2 [R=301,NC,QSA]
RewriteRule ^session/([0-9]*)$ /session?sid=$1 [R=301,NC,QSA]

RewriteRule ^menu/?$ /session-menu [R=301,NC,QSA]
RewriteRule ^menu/([a-z]{3})$ /ddproc.php?processor=session_type&menu=$1 [R=301,NC,QSA]
RewriteRule ^menu/([0-9]*)$ /ddproc.php?processor=session_type&store=$1 [R=301,NC,QSA]
RewriteRule ^menu/([0-9]*)-starter$ /ddproc.php?processor=session_type&store=$1&type=starter [R=301,NC,QSA]
RewriteRule ^menu/([0-9]*)-([0-9a-z]*)$ /ddproc.php?processor=session_type&store=$1&menu=$2 [R=301,NC,QSA]
RewriteRule ^menu/([0-9]*)-([0-9a-z]*)-starter$ /ddproc.php?processor=session_type&store=$1&menu=$2&type=starter [R=301,NC,QSA]
RewriteRule ^menu/([0-9]*)-([0-9a-z]*)-events$ /ddproc.php?processor=session_type&store=$1&menu=$2&type=event [R=301,NC,QSA]

RewriteRule ^invite/([a-zA-Z0-9]*)$ /session?oid=$1 [R=301,NC,QSA]
RewriteRule ^invstarter/([a-zA-Z0-9]*)$ /session?oid=$1&starter_pack=true [R=301,NC,QSA]
RewriteRule ^share/([0-9]*)$ /?share=$1 [R=301,NC,QSA]

## Short url specific handling for store location pages
# /location/mill-creek/meet-the-owner
RewriteRule ^location/([\w-]+)/([\w-]+)/?$ /?page=store_$2&id=$1 [NC,L,QSA]
# /location/mill-creek
RewriteRule ^location/([\w-]+)/?$ /?page=store&id=$1 [NC,L,QSA]
# Handle fundraiser page link
RewriteRule ^location/([\w-]+)-fundraisers$ /fundraiser?id=$1 [NC,L,QSA]

## This handles the short/pretty urls
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([\w-]+)/?$ /?page=$1 [NC,L,QSA]