// front end bootstrap
@import "../customer/dreamdinners";

// admin specific bootstrap
@import "bootstrap/admin";

// include old style
@import "old_style/fadmin";

// helpers for old style
//.button {
//  @extend .btn, .btn-primary, .btn-sm;
//  text-transform: none;
//}

#helpdesk {
  @extend .btn, .btn-primary, .btn-sm;

  position: fixed;
  left: 1rem;
  top: 0;
}