@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/Montserrat-Thin.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/Montserrat-ExtraLight.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Montserrat-Light.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Montserrat-Regular.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Montserrat-Regular.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Montserrat-SemiBold.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Montserrat-Bold.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Montserrat-ExtraBold.woff2') format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Have Heart One';
  font-style: normal;
  src: url('fonts/Have_Heart/TTF/Have-Heart-One.ttf') format('ttf');
  src: url('fonts/Have_Heart/OTF/Have-Heart-One.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Have Heart Two';
  font-style: normal;
  src: url('fonts/Have_Heart/TTF/Have-Heart-Two.ttf') format('ttf');
  src: url('fonts/Have_Heart/OTF/Have-Heart-Two.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Have Heart Swash';
  font-style: normal;
  src: url('fonts/Have_Heart/TTF/Have-Heart-Swash.ttf') format('ttf');
  src: url('fonts/Have_Heart/OTF/Have-Heart-Swash.otf') format('opentype');
  font-display: swap;
}

.font-marker {
  font-family: 'Permanent Marker', cursive;
}

.font-have-heart-one {
  font-family: 'Have Heart One';
}

.font-have-heart-two {
  font-family: 'Have Heart Two';
}

.font-have-heart-swash {
  font-family: 'Have Heart Swash';
}